<link rel="stylesheet" href="../css/style.css">

<div class="contenido-relacionado" style="column-count:3; column-gap: 15px;">
    <div class="card-contenido-relacionado">
        <img src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v2/variant/disney/518292de-1782-47c0-a96e-bd903a73d466/compose?aspectRatio=1.78&format=webp&width=1200" alt="">
        <p class="card-title-contenido-relacionado">Titulo</p>
        <div class="card-info-contenido-relacionado">
            <p>Pelicula, Enero 2026</p>
            <p>2h 10m</p>
        </div>
        <button class="btn-ver-detalles">Ver Detalles</button>
    </div>
    <div class="card-contenido-relacionado">
        <img src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v2/variant/disney/518292de-1782-47c0-a96e-bd903a73d466/compose?aspectRatio=1.78&format=webp&width=1200" alt="">
        <p class="card-title-contenido-relacionado">Titulo</p>
        <div class="card-info-contenido-relacionado">
            <p>Pelicula, Enero 2026</p>
            <p>2h 10m</p>
        </div>
        <button class="btn-ver-detalles">Ver Detalles</button>
    </div>
    <div class="card-contenido-relacionado">
        <img src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v2/variant/disney/518292de-1782-47c0-a96e-bd903a73d466/compose?aspectRatio=1.78&format=webp&width=1200" alt="">
        <p class="card-title-contenido-relacionado">Titulo</p>
        <div class="card-info-contenido-relacionado">
            <p>Pelicula, Enero 2026</p>
            <p>2h 10m</p>
        </div>
        <button class="btn-ver-detalles">Ver Detalles</button>
    </div>
    <div class="card-contenido-relacionado">
        <img src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v2/variant/disney/518292de-1782-47c0-a96e-bd903a73d466/compose?aspectRatio=1.78&format=webp&width=1200" alt="">
        <p class="card-title-contenido-relacionado">Titulo</p>
        <div class="card-info-contenido-relacionado">
            <p>Pelicula, Enero 2026</p>
            <p>2h 10m</p>
        </div>
        <button class="btn-ver-detalles">Ver Detalles</button>
    </div>
    <!-- <div class="pelicula-card">
        <img src="" alt="">
    </div> -->
</div>